.App {
  text-align: center;
}

@font-face {
  font-family: Publico;
  src: url(https://commercialtype.com/catalog/publico_headline/bold);
}

@font-face{
  font-family: Avenir;
  src: url(https://www.fonts.com/font/linotype/avenir);
}

.headerDiv {
  background-color: #2b2b2b;
  font-family: Publico;
  color: white;
  font-size: 30px;
  margin: 0px auto;
  height: 20vh;
  text-align: left;
  padding: 0px;
  display: flex;
}
.headerTitle {
  padding: 0px 200px 0px 30px;
}
input {
  border-radius: 5px;
  border: white;
}
.headerInputBar {
  width: 50vw;
  height: 30px;;
  margin: 55px 50px 50px 50px;
  border-radius: 10px;
  font-size: 18px;
  padding: 0px 10px;
}
.mainbodytext {
  font-family: Avenir;
  font-size: 40px;
  line-height: 1.6em;
  margin: 50px;
}
.doggoComponent {
  background-color: #efeaea;
  border-radius: 30px;
  box-shadow: 5px 10px 24px #bcbcbc;
  background-image: linear-gradient(to bottom right, #ede6e6, #efefef)
}
.mainbody {

}
.nameText {
  font-family: Avenir;
  font-size: 38px;
  margin: 0px;
}
.bioText {
  font-family: Avenir;
  font-size: 18px;
  margin: 15px 15px 0px 15px;
}
img {
  border-radius: 10px;
  margin: 25px 0px 10px 0px;
  box-shadow: 5px 5px 15px #bcbcbc;
}
.commentsHead {
  font-family: Avenir;
  font-size: 16px;
  margin: 0px 20px;
  text-align: left;
}

.newDoggoInput {
  height: 30px;
  width:80%;
}
.addDoggoComponent{
  background-color: #efeaea;
  margin: 50px auto;
  text-align: left;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 5px 10px 24px #bcbcbc;
  background-image: linear-gradient(to bottom right, #ede6e6, #efefef)
}
.addDoggoButton {
  margin: 20px;
  width: 30%;
  align-self: center;
}
.deleteButton {
  background-color:#757575;
  border-radius: 8px;
  font-family: Avenir;
  font-size: 14px;
  margin: 10px;
  color: white;
}